.floatL{float:left;}
li{list-style:none;}
nav{position:fixed;top:0;left:0;width:100%;height:70px;background:rgba(0,0,0,0.5);z-index:99;color:#fff;}
nav ul li{width:100px;height:60px;padding:5px;float:left;}

.contentBox{width:1200px;margin:20px auto;text-align:center;}